<%- include ("./partials/header.ejs") %>
</head>
<body>
    <h1 class="title">Please See all the Complaints below:</h1>
    <div class="container ">
        <div class="notification is-primary">
            <div class="table-container">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Mobile</td>
                        <td>address</td>
                        <td>complaint</td>
                      </tr>
                    </thead>
                    <tbody>
               
        </div>
      </div>
    
    <h2><% for(let data of complaints){  %>
        
            
<tr>
    <td> <%=data._id%></td>
    <td> <%=data.name%></td>
    <td> <%=data.mobile%></td>
    <td> <%=data.address%></td>
    <td> <%=data.complaint%></td>
</tr>
           
        
                   
            
        
     
       <%} %>
    
</tbody>
</table>
</div>
    </h2>

    <a href="https://bapudham-police-station.auth.us-east-1.amazoncognito.com/logout?client_id=5384va9731820q9pevlg3iqr3j&logout_uri=http%3A%2F%2Flocalhost">
        <button class="button is-link" >log Off </button>
    </a>
</body>

